body {
  margin: 150px 80px;
}

/* area para conteúdo da home */

/* fim do conteúdo da home */

/* conteudo de tutoriais e aulas */
.img-materiais {
  width: 50%;
}
.video {
  max-width: 100%;
  height: 200px;
}
