body {
  margin: 100px 80px;
}

.nav-link {
  color: #fff;
  width: 50%;
  text-align: start;
}

.nav {
  --bs-nav-link-hover-color: #fff;
}

.nav-pills .nav-link.active {
  --bs-nav-pills-link-active-bg: #c52744;
}

.logo-menu {
  max-width: 100%;
  width: 50%;
  margin-bottom: 20px;
  border-radius: 100%;
  border: #c52744 5px solid;
}

.color-nav {
  background-color: #050b2f;
}

.titulo-menu h1,
.titulo-menu h2 {
  color: #fff;
  font-size: 20px;
  text-align: start;
}

.logo-cabecalho {
  max-width: 100%;
  width: 65px;
  border-radius: 50%;
  margin: 0px 10px;
  border: #c52744 3px solid;
}
.fixo {
  position: fixed;
  top: 20px;
  left: 15px;
}

.bg-color {
  background-color: #c52744;
}

/* area para conteúdo da home */
.conteiner {
  gap: 80px;
  display: flex;
  flex-direction: column;
}
.conteiner a{
  text-decoration: none;
  cursor: pointer;
  color: black;
}

.conteiner a:hover {
  text-decoration: underline;
}

.slider {
  display: flex;
  overflow: hidden;
  background-color: rgba(207, 203, 203, 0.116);
  width: 100%;
  max-height: 300px;
  border-radius: 10px;
}

.item {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  gap: 100px;
}
.item img {
  padding-top: 10px;
  max-width: 250px;
  max-height: 250px;
}
.item ul > li {
  padding-top: 12px;
}
#if {
  color: green;
}
.equipe{
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.fotoequipe {
  width: 150px;
  height: 180px;
  border-radius: 50%;
}
.siga {
  gap: 25px;
  display: flex;
  align-items: center;
  justify-items: center;
}
.content {
  padding: 0px 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: auto;
}

.txt-home {
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 20px;

  background-color: rgba(128, 128, 128, 0.116);

  border: solid 1px gray;
  border-radius: 10px;
}
.txt-home img {
  max-width: 400px;
  border-radius: 10px;
}
/* fim do conteúdo da home */

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .titulo-menu h1,
  .titulo-menu h2 {
    font-size: 15px;
  }

  .logo-cabecalho {
    width: 55px;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .titulo-menu h1,
  .titulo-menu h2 {
    font-size: 15px;
    text-align: center;
  }

  .logo-cabecalho {
    width: 50px;
  }

  .fixo {
    padding: 0px 3px;
    top: 20px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .titulo-menu h1,
  .titulo-menu h2 {
    font-size: 15px;
    text-align: center;
  }
  .logo-cabecalho {
    width: 45px;
  }

  .fixo {
    padding: 0px 3px;
    top: 20px;
  }
}
